---
import Layout from "../../../layouts/Layout.astro";
import { Layers } from "lucide-react";
import { Page } from "./-component/page";
---

<Layout title="Smart Resize & Crop — Ferramenta">

  <header class="relative bg-white border-b">
    <div class="px-4 mx-auto h-16 flex items-center justify-between">
      <a href="/smart-resize-and-crop" class="flex items-center gap-2">
        <div class="bg-slate-200 p-2 rounded-lg size-8 flex items-center justify-center">
          <Layers className="size-6 text-slate-600" />
        </div>
        <div class="flex gap-2 items-center">
          <span class="text-lg text-slate-700 font-bold">Kayla</span>
          <span class="text-xs text-slate-500">Tools</span>
        </div>
      </ajustes>
      <a href="/handler/sign-in" class="px-4 py-2 rounded-md border text-sm font-medium bg-white hover:bg-neutral-50">Fazer Login</a>
    </div>
  </header>

  <main>
    <Page client:load />
  </main>
</Layout>
