<header class="relative bg-white border-b">
  <div class="px-4 mx-auto h-16 flex items-center justify-between max-w-6xl">
    <div class="flex items-center gap-2">
      <div class="bg-slate-200 p-2 rounded-lg size-8 flex items-center justify-center">
        Kayla
      </div>
      <div class="flex gap-2 items-center">
        <span class="text-lg text-slate-700 font-bold">Kayla</span>
        <span class="text-xs text-slate-500">Tools</span>
      </div>
    </div>
  </div>
</header>
